.header_container{
    padding:0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:65px;
    /* background-color: aqua; */
    background-color: #000000;
}

.main_header_heading{
    font-family: "Comme";
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.55em;
text-align: left;
color:#E5DFD9;

}
.headers_list_container{
    display: flex;

}